@import "components/animation";
@import "components/utilities";
@import "components/responsive";

*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


//overide default font-size
html {
 font-size: 66.5%;
 height: 100vh;
}

body {
	overflow: hidden;
	background: #588bc7;
	background-image: linear-gradient(30deg, #000046 1.5%,#588bc7 100.3%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
 -webkit-animation: gradient 15s ease infinite;
 font-family: serif ,Helvetica, sans-serif;
}

.container {
position: absolute;
top: 50%;
left: 50%;
background: rgba(20, 40, 40, .8);
width: 760px;
height: 493px;
overflow: hidden;
transform: translate3d(-50% , -50% , 0);
-webkit-transform: translate3d(-50% , -50% , 0);
-moz-transform: translate3d(-50% , -50% , 0);
box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .3);
}

.signin-container,
.signup-container {
 width: 100%;
 height: 100%;
 display: flex;
 text-align: center;
 color: white;
 margin-bottom: 10px;
}

.signup-container {
 position: absolute;
 top: 0;
 z-index: 2;
}

.signin-container {
 position: absolute;
 top: 0;
 z-index: 1;
}

.signup {
 z-index: 2;
 background: lighten(rgba(20, 40, 40, 1) , 2%);
}

.signin {
 height: 100%;
 z-index: 1;
 background: lighten(rgba(20, 40, 40, 1) , 10%);
}

.message {
 width: 45%;
 background: rgba(20, 20, 20, 1);
 padding: 30px 0;
 border-right: 5px solid rgba(30, 30, 30, .8);
}

.text {
 padding-top: 30px;
 font-weight: 500;
 font-size: 3rem;
 width: 250px;
 margin: auto;
}

.account {
 width: 250px;
 font-size: 2.5rem;
 margin: 0 auto;
 padding: 0
}

hr{
 border: 4px solid white;
 width: 20px;
margin: auto;
}

.input {
 margin: 15px 0;
 font-size: 16px;
 padding: 10px;
 width: 70%;
 border: 1px solid rgba(10, 180, 180, 1);
 border-top: none;
 border-left: none;
 border-right: none;
 background: rgba(20, 20, 20, .2);
 color: white;
 outline: none;
}

input:focus::-webkit-input-placeholder {
 color: white;
 opacity: .6;
 font-size: 1.4rem;
 padding-left: 10px;
 transition: all .2s;
 -webkit-transition: all .2s;
 -moz-transition: all .2s;
 -ms-transition: all .2s;
 -o-transition: all .2s;
}

.btn {
 border: 1px solid rgba(10, 180, 180, 1);
 background: rgba(20, 20, 20, .6);
 font-size: 18px;
 color: white;
 margin-top: 20px;
 padding: 10px 50px;
 cursor: pointer;
}

.question {
 font-size: 1.5rem;
 margin-top: 20px;
 letter-spacing: .1rem;

 span {
   cursor: pointer;
   color: yellow;
 }

 .login:active,
 .create:active{
   font-size: 1.6rem;
 }
}
